<div class = "related" >
    <div class = "width">
        <h2>Related products</h2>
        <div class ="related-products"> </div>
    </div>
</div>
{% schema %}
    {
        "name": "Related products",
        "settings": [],
        "presets": [
            {
                "name": "Rleated Products"
            }
        ]
    }

{% endschema %}